body {
  background-color: #eff7f9;
}

h1 {
  color: darkslategrey;
  font-family: "Bebas Neue", system-ui;
  font-size: 48px;
  padding-left: 20px;
  padding-top: 30px;
  margin: 0;
}
a {
  color: #07738e;
}
.app-body {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}
header {
  border-bottom: 1px solid #a8e3f1;
  padding: 0 0 30px;
}
.search-input {
  background-color: #eff7f9;
  border: none;
  border-radius: 4px;
  width: 75%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-button {
  background-color: #a8e3f1;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  color: #eff7f9;
  margin-left: 5px;
  font-size: 16px;
}
main {
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
  padding-bottom: 15px;
}
.weather-app-details strong {
  color: #07738e;
}
.weather-app-temp {
  padding-top: 30px;
  padding-right: 20px;
  display: flex;
}
.temp-value {
  font-family: "Bebas Neue", system-ui;
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}
.weather-icon {
  font-size: 44px;
  margin-top: 22px;
}
.weather-metric {
  margin-top: 15px;
  font-size: 28px;
}
footer {
  border-top: 1px solid #a8e3f1;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
